<h1>Изтриване на филм</h1>

<form method="post" action="/finish_movie_deletion">
	<div class="form-group">
        <label for="name-input">Име</label>
        <input id="name-input"
               class="form-control"
               name="movie_name"
               type="text"
               placeholder="Movie name"
               required>
    </div>

	<button type="submit" class="btn btn-default">Изтрий</button>
</form>