<h1 align="center">Филми</h1>

<% if flash[:success] %>
    <p class="bg-success"><%= flash[:success] %></p>
<% end %>

<% if flash[:error] %>
    <p class="bg-danger"><%= flash[:error] %></p>
<% end %>

<form method="get" action="/create_movie">
    <button type="submit" class="btn btn-default">Нов филм</button>
</form>

<h2 align="center">Съществуващи филми:</h2>

<% if @movies.empty? %>
    Все още няма добавени филми ;/
<% end %>
<% @movies.each do |movie| %>
    <p>
        <% @movie = movie %>
        <a href="/movie/<%= @movie.name %>"><%= @movie.name %></a></p>    
    </p>
<% end %>
