<% if @users.empty? %>
    В момента няма такива. Бъди първия, който ще ни пише!
<% end %>
<% @users.each do |user| %>
    <p>
        <%= user.name %>
        <%= user.password %>
        <%= user.email %>
        <%= user.rank %>
        
    </p>
<% end %>